.tip_div{
	display:none;
	font-size: 11px;
    border-radius: 4px;
    background-color: #f6f9fc;
    color: #666666;
    position: absolute;
    border: 1px solid #d6d6d6;
    padding: 0px 5px 4px 10px;
    width: 250px;
    /*margin: 0px 0 0 -250px;
	FILTER:progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#666666,strength=1);*/
	z-index: 10000;
}

.modelinfo_div{
	display:none;
	font-size:11px;
	position:absolute;
	border:1px solid #999999;
	background-color:#EEEEEE;
	padding:0px 5px 4px 10px;
	width:450px;
	margin:18px 0 0 -450px;
	FILTER:progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#666666,strength=1);
}

.status_div{
	display:none;
	font-size:11px;
	position:absolute;
	border:1px solid #999999;
	background-color:#EEEEEE;
	padding:0px 5px 4px 10px;
	width:250px;
	margin: 15px 0 0 -250px;
	/*FILTER:progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#666666,strength=1);*/
	z-index: 10000;
}


.hov{display:block}
.hov table {position:absolute; border:0; border-collapse:collapse; left:0;}
.hov a {color:red; text-decoration:none;}
.hov b {display:none; font-weight:normal;}
.hov:hover {position:relative; z-index:100;}
.hov a:hover,.hov:hover a{border:0; text-decoration:none; position:relative;}
.hov:hover b, .hov a:hover b{
	display:block;
	visibility:visible;
	position:absolute;
	left:0px; top:12px;
	background:#eee;
	cursor:pointer;
	border:1px solid #999;
	padding:5px 10px;}
.hov b a, .hov b a:hover{
	position:relative;
	z-index:1000;
	color:#336695;
	text-decoration:underline;}

.hov .stats-hint{display:none; font-weight:normal;}
.hov .stats-hint{
	border-collapse:collapse;
	display:block;
	visibility:visible;
	position:absolute;
	border:1px solid #999;
	padding:0;
	left:-440px;
	top:-120px;
	background-color:#e7ecef;
	width:440px;}
.hov .stats-hint th{
	text-align:left;
	margin:0;
	padding:2px 10px;
	font-family:tahoma, arial, Helvetica, sans-serif;
	border:0;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	background:#8cb5da}
.hov .stats-hint td{
	border:0;
	padding:0 2px;
	margin:0;}
.hov .stats-hint div{
	border:1px solid #cfd4d7;
	padding:5px;
	margin:3px 0;
	background:#fff;}
.hov .stats-hint h1{
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:0}
.hov .stats-hint p{
	margin:0;
	padding:3px 0 3px 10px;
	/*text-align:justify;*/
	color:#000;}
.hov .stats-hint p label{
	display:block;
	font-weight:normal;
	padding-left:10px;}