html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #ffffff;
    text-decoration: none;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333333;
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    height: 43px;
    border: 2px solid #d7d7d7;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #b0b0cf;
}

textarea {
    border: 2px solid #d7d7d7;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    resize: vertical;
}

.at-button, .at-block-stepper a {
    height: 39px;
    display: block;
    background-color: #666699;
    border-radius: 5px;
    padding: 0 20px;
    color: #ffffff;
    border: none;
    width: 100%;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-button.secondary, .at-block-stepper a.secondary {
    background-color: #cd242b;
}
.at-button.lite, .at-block-stepper a.lite {
    background-color: #d2d2d2;
}
.at-button.buy, .at-block-stepper a.buy {
    height: 36px;
    width: 39px;
    background-image: url("../_images/bgs.png");
    background-position: -1149px 3px;
}
.at-button.buy.secondary, .at-block-stepper a.buy.secondary {
    background-position: -1149px -29px;
}
.at-button:active, .at-block-stepper a:active {
    background-color: #666666 !important;
}

a.at-button, .at-block-stepper a {
    line-height: 39px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a.at-button.buy, .at-block-stepper a.buy {
    line-height: 36px;
}

a {
    text-decoration: none;
    outline: none;
}

.at-select {
    height: 43px;
    border: 2px solid #d7d7d7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    position: relative;
    padding: 0 30px 0 10px;
    background-color: #ffffff;
}
.at-select.disabled {
    opacity: 0.5;
}
.at-select:after {
    content: '';
    position: absolute;
    top: 17px;
    right: 11px;
    width: 13px;
    height: 7px;
    background: url("../_images/bgs.png") -800px -64px;
}
.at-select span {
    line-height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: #676767;
    font-size: 18px;
}
.at-select select {
    width: 100%;
    height: 39px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-appearance: none;
}
.at-select select.js-select-custom {
    display: none;
}

h1, h2 {
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.important {
    color: #cd242b;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}

.at-header {
    background-color: #383956;
    border-top: 4px solid #cd242b;
}
.at-header .logo {
    text-align: center;
    padding: 12px 0;
}
.at-header .logo img {
    display: inline-block;
}

.at-top-nav {
    background-color: #383956;
    box-shadow: 0 1px 0 #1e1f37;
    position: relative;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-top-nav.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    border-top: 4px solid #cd242b;
}
.at-top-nav .block-inner {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 10px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-top-nav .block-element {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 48px;
    background-image: url("../_images/bgs.png");
    position: relative;
    z-index: 11;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-top-nav .block-element.el-toggle {
    background-position: -3px 8px;
}
.at-top-nav .block-element.el-search {
    background-position: -65px 8px;
}
.at-top-nav .block-element.el-cabinet {
    background-position: -131px 8px;
    position: relative;
}
.at-top-nav .block-element.el-cabinet .status {
    position: absolute;
    top: 9px;
    left: 64%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffe682;
}
.at-top-nav .block-element.el-basket {
    background-position: -197px 8px;
    position: relative;
}
.at-top-nav .block-element.el-basket .count {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: #262740;
    border-radius: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
.at-top-nav .block-element.el-basket .count.full {
    background-color: #cd242b;
}
.at-top-nav .block-element.selected {
    background-color: #2b2c49;
    box-shadow: 0 -4px 0 #cd242b;
}
.at-top-nav .block-separate {
    display: table-cell;
}
.at-top-nav .block-search {
    padding: 12px 9px;
    background-color: #2b2c49;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 46px;
    box-shadow: 0 1px 0 #454665 inset;
    border-top: 1px solid #1e1f37;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-top-nav .block-search.hidden {
    display: none;
}
.at-top-nav .block-search input[type="text"] {
    width: 100%;
    border-color: #1c1d32;
    padding-right: 37px;
}
.at-top-nav .block-search input[type="text"]::-webkit-input-placeholder {
    color: #8b8c9e;
    opacity: 1;
}
.at-top-nav .block-search input[type="text"]::-moz-placeholder {
    color: #8b8c9e;
    opacity: 1;
}
.at-top-nav .block-search input[type="text"]:-moz-placeholder {
    color: #8b8c9e;
    opacity: 1;
}
.at-top-nav .block-search input[type="text"]:-ms-input-placeholder {
    color: #8b8c9e;
    opacity: 1;
}
.at-top-nav .block-search input[type="submit"] {
    width: 39px;
    height: 39px;
    border: none;
    position: absolute;
    top: 14px;
    right: 12px;
    padding: 0;
    background: url("../_images/bgs.png") -253px 4px transparent;
}
.at-top-nav .block-search input[type="submit"]:active {
    background-position: -253px -28px;
}
.at-top-nav .block-client-menu {
    background-color: #2b2c49;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 46px;
    box-shadow: 0 1px 0 #454665 inset;
    border-top: 1px solid #1e1f37;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 1000px;
}
.at-top-nav .block-client-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.at-top-nav .block-client-menu li {
    border-top: 1px solid #383956;
}
.at-top-nav .block-client-menu a {
    display: block;
    padding: 10px 35px 10px 20px;
    color: #cccccc;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.at-top-nav .block-client-menu a:active {
    background-color: #383956;
}
.at-top-nav .block-client-menu a.exit {
    margin: 15px 0 0 0;
}
.at-top-nav .block-client-menu a:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 12px;
    width: 8px;
    height: 16px;
    background: url("../_images/bgs.png") -576px -64px;
}

.at-top-nav-place {
    height: 66px;
}
.at-top-nav-place.small {
    height: 114px;
}
.at-top-nav-place.small.no-search {
    height: 66px;
}
.at-top-nav-place.no-search {
    height: 0;
}

.at-block-prefooter {
    border-top: 1px solid #ededed;
    padding: 48px 8px;
}
.at-block-prefooter .block-phone {
    border: 2px solid #b4b5d4;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    background-color: #f8f8f8;
    display: block;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-block-prefooter .block-phone:active {
    background-color: #9999cc;
}
.at-block-prefooter .block-phone:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 32px;
    background: url("../_images/bgs.png") -293px 0;
    margin: 0 15px 0 0;
    position: relative;
    top: -1px;
}

.at-footer {
    border-bottom: 4px solid #cd242b;
    text-align: center;
    padding: 20px;
    background: url("../_images/footer-bg.png") center bottom no-repeat #383956;
}
.at-footer .copy {
    color: #838499;
    font-size: 14px;
    font-weight: 300;
}
.at-footer .social {
    margin: 0 0 20px 0;
}
.at-footer .social a {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 39px;
    background: url("../_images/bgs.png");
    margin: 0 9px;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.at-footer .social a.fb {
    background-position: -320px 0;
}
.at-footer .social a.fb:active {
    background-position: -320px -57px;
}
.at-footer .social a.gp {
    background-position: -384px 0;
}
.at-footer .social a.gp:active {
    background-position: -384px -57px;
}
.at-footer .social a.tw {
    background-position: -448px 0;
}
.at-footer .social a.tw:active {
    background-position: -448px -57px;
}
.at-footer .social a.vk {
    background-position: -512px 0;
}
.at-footer .social a.vk:active {
    background-position: -512px -57px;
}

.at-content.reserve {
    padding-top: 65px;
}

.at-block-category {
    position: relative;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin: 0 0 50px 0;
    padding: 0 0 1px 0;
}
.at-block-category .caption {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0;
}
.at-block-category ul {
    border-top: 1px solid #ededed;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-block-category ul.level-1 {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.at-block-category ul.level-2 {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.at-block-category ul.level-3 {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
}
.at-block-category li {
    border-bottom: 1px solid #ededed;
}
.at-block-category a {
    display: block;
    padding: 10px;
}
.at-block-category a i {
    float: right;
    width: 8px;
    height: 16px;
    background: url("../_images/bgs.png") -576px 0;
    margin: 2px 0 0 10px;
}
.at-block-category a.back {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-left: 36px;
}
.at-block-category a.back:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 12px;
    width: 17px;
    height: 20px;
    background: url("../_images/bgs.png") -576px -32px;
}
.at-block-category ul ul {
    position: absolute;
    width: 100%;
    top: -1px;
    left: 100%;
    display: none;
}

.at-block-banners {
    padding: 0 10px;
    margin: 0 0 50px 0;
}
.at-block-banners .element {
    display: block;
    border-bottom: 4px solid #cd242b;
    margin: 0 0 20px 0;
}
.at-block-banners .element img {
    display: block;
    width: 100%;
}

.at-block-why {
    padding: 0 10px;
}
.at-block-why .caption {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 35px 0;
}
.at-block-why .element {
    margin: 0 0 50px 0;
    padding: 0 0 0 115px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-block-why .element .wrap {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666666;
}
.at-block-why .element .icon {
    width: 88px;
    height: 57px;
    background: url("../_images/bgs.png");
    position: absolute;
    left: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.at-block-why .element .icon.icon-01 {
    background-position: -608px 0;
}
.at-block-why .element .icon.icon-02 {
    background-position: -704px 0;
}
.at-block-why .element .icon.icon-03 {
    background-position: -800px 0;
}
@media screen and (min-width: 768px) {
    .at-block-why {
        letter-spacing: -4px;
    }
    .at-block-why .caption {
        letter-spacing: 0;
    }
    .at-block-why .element {
        display: inline-block;
        vertical-align: middle;
        width: 33.33%;
        letter-spacing: 0;
    }
}

.at-curtain-left {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: #383956;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}
.at-curtain-left.open {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.at-curtain-left .head {
    padding: 20px;
    border-bottom: 1px solid #2a2b46;
    box-shadow: 0 1px 0 #4a4b6c;
}
.at-curtain-left .close {
    float: right;
    width: 38px;
    height: 39px;
    background: url("../_images/bgs.png") -896px 0;
}
.at-curtain-left .logo {
    float: left;
}
.at-curtain-left .body {
    padding: 0;
    margin: 0;
    list-style: none;
}
.at-curtain-left .body li {
    border-bottom: 1px solid #2a2b46;
}
.at-curtain-left .body a {
    display: block;
    padding: 10px 35px 10px 20px;
    color: #cccccc;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.at-curtain-left .body a:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 12px;
    width: 8px;
    height: 16px;
    background: url("../_images/bgs.png") -576px -64px;
}

.at-page-caption {
    border-bottom: 1px solid #ededed;
    padding: 12px 10px;
    margin: 0 0 20px 0;
}
.at-page-caption h1,
.at-page-caption h2 {
    display: inline;
}
.at-page-caption .back {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 20px;
    background: url("../_images/bgs.png") -576px -32px;
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}
.at-page-caption .category {
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin: -4px 0 -4px 26px;
}

.at-page-content {
    padding: 0 10px;
    color: #666666;
    line-height: 24px;
}
.at-page-content .button-back {
    margin: 0 10px;
}
.at-page-content .image-intext-full {
    display: block;
    width: 100%;
}
.at-page-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.at-page-content ul li {
    padding: 0 0 24px 10px;
    position: relative;
}
.at-page-content ul li:last-child {
    padding-bottom: 0;
}
.at-page-content ul li:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #cd242b;
    border-radius: 100%;
    top: 11px;
    left: 0;
}
.at-page-content .block-phones {
    padding: 0 0 0 47px;
    position: relative;
}
.at-page-content .block-phones:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 4px;
    width: 21px;
    height: 32px;
    background: url("../_images/bgs.png") -293px 0;
}
.at-page-content .block-email {
    padding: 0 0 0 47px;
    position: relative;
}
.at-page-content .block-email a {
    color: #666699;
}
.at-page-content .block-email:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 28px;
    height: 22px;
    background: url("../_images/bgs.png") -290px -37px;
}
.at-page-content .block-adress {
    padding: 0 0 0 47px;
    position: relative;
}
.at-page-content .block-adress a {
    color: #666699;
    text-decoration: underline;
}
.at-page-content .block-adress a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 17px;
    background: url("../_images/bgs.png") -608px -64px;
    margin: 0 9px 0 0;
}
.at-page-content .block-adress:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 27px;
    background: url("../_images/bgs.png") -293px -66px;
}
.at-page-content .block-worktime .title {
    display: inline-block;
    width: 70px;
}
.at-page-content .block-map {
    margin: 0 -10px;
}
.at-page-content .block-map iframe {
    border: none;
    width: 100%;
    height: 380px;
    display: block;
}
.at-page-content .content-caption {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 7px 0;
}

.at-block-form {
    margin: 0 0 -20px 0;
}
.at-block-form .form-element {
    margin: 0 0 20px 0;
    position: relative;
}
.at-block-form .form-element .f-title {
    font-size: 15px;
    color: #666666;
    margin: 0 0 7px 0;
}
.at-block-form .form-element input[type="text"],
.at-block-form .form-element input[type="password"],
.at-block-form .form-element input[type="tel"],
.at-block-form .form-element input[type="email"] {
    width: 100%;
}
.at-block-form .form-element input[type="text"].f-wrap,
.at-block-form .form-element input[type="password"].f-wrap,
.at-block-form .form-element input[type="tel"].f-wrap,
.at-block-form .form-element input[type="email"].f-wrap {
    padding-right: 85px;
}
.at-block-form .form-element textarea {
    width: 100%;
    height: 100px;
}
.at-block-form .form-element .at-select {
    width: 100% !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-block-form .form-element .at-select span {
    width: 100% !important;
    font-size: 16px;
}
.at-block-form .form-element .fixed-140 {
    width: 140px;
    margin: 0 auto;
    padding: 0;
    display: block;
}
.at-block-form .form-element .forget {
    position: absolute;
    z-index: 1;
    font-size: 15px;
    color: #666699;
    border-bottom: 1px dashed;
    top: 40px;
    right: 15px;
    line-height: 1em;
}
.at-block-form .form-element .code-wrap {
    padding: 0 0 0 47px;
    position: relative;
}
.at-block-form .form-element .code-wrap .code {
    line-height: 43px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
}
.at-block-form .form-element .addon {
    margin: 10px 0 0 0;
}
.at-block-form .form-element .light {
    font-size: 14px;
    color: #666666;
}
.at-block-form .form-element .indicator {
    border: 1px solid #c3c3cc;
    background-color: #eeeeee;
    text-align: center;
    font-size: 15px;
    color: #999999;
    padding: 4px;
}
.at-block-form .form-element .accept {
    position: relative;
    display: inline-block;
    padding: 0 0 0 47px;
    line-height: 18px;
}
.at-block-form .form-element .accept a {
    color: #666699;
    text-decoration: none;
}
.at-block-form .form-element .accept .at-accept-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
}
.at-block-form .form-element.choose {
    border-bottom: 1px solid #eaeaea;
    margin: 0 -10px 0 -10px;
    padding: 15px 10px 0 10px;
}
.at-block-form .form-element.choose.first {
    border-top: 1px solid #eaeaea;
}
.at-block-form .form-element.choose label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 10px 0;
}
.at-block-form .form-element.choose label input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}
.at-block-form .form-element.selected {
    background-color: #ecedf4;
    padding: 5px 10px 15px 10px;
    margin-bottom: 0;
}
.at-block-form .form-element.selected .radio-value {
    display: block;
}
.at-block-form .form-element .radio-value {
    display: none;
}
.at-block-form .form-element.element-text {
    line-height: 18px;
    color: #666666;
}
.at-block-form .form-element.element-text span {
    color: #999999;
}
.at-block-form .double {
    margin: 0 -10px;
}
.at-block-form .double .form-element {
    float: left;
    width: 50%;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.at-accept-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 31px;
    border: 1px solid #d7d7d7;
    position: absolute;
    margin: 0;
    background-color: #ffffff;
}
.at-accept-checkbox.disabled {
    opacity: 0.3;
}
.at-accept-checkbox span {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 13px;
    height: 13px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-accept-checkbox span.checked {
    background-color: #cd242b;
}
.at-accept-checkbox input {
    margin: 0;
    width: 31px;
    height: 31px;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

.at-block-popup {
    position: fixed;
    padding: 0 100px;
    margin: 0 -100px;
    overflow: auto;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.at-block-popup:before, .at-block-popup:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
}
.at-block-popup .dark {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.at-block-popup .block-popup {
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    z-index: 1002;
    width: 300px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-block-popup .head {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px 0;
    line-height: 39px;
}
.at-block-popup .head .back {
    display: block;
    line-height: 22px;
    position: relative;
    padding: 0 0 0 26px;
}
.at-block-popup .head .back:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 20px;
    background: url("../_images/bgs.png") -576px -32px;
}
.at-block-popup .close {
    float: right;
    width: 38px;
    height: 39px;
    background: url("../_images/bgs.png") -960px 0;
}
.at-block-popup .close:active {
    background-position: -960px -60px;
}
.at-block-popup .remind-message {
    line-height: 22px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #666666;
}
.at-block-popup .remind-message:before {
    content: '';
    display: block;
    margin: 0 auto 28px auto;
    width: 66px;
    height: 66px;
    background: url("../_images/bgs.png") -1024px 0;
}
.at-block-popup .remind-message.remove:before {
    background-position: -1536px 0;
}
.at-block-popup .block-terms {
    color: #666666;
}
.at-block-popup .fixed-buttons {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 5px;
    background-color: #f8f8f8;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-block-popup .fixed-buttons .element {
    padding: 0 5px;
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-block-popup .fixed-buttons-place {
    height: 60px;
}
.at-block-popup.full-screen:before, .at-block-popup.full-screen:after {
    display: none;
}
.at-block-popup.full-screen .block-popup {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.at-block-ordercaption {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}

.at-productlist-control {
    margin: -20px 0 0 0;
    line-height: 40px;
}
.at-productlist-control .block-sort {
    float: left;
    position: relative;
    z-index: 40;
}
.at-productlist-control .block-sort .main {
    padding: 0 10px;
    font-size: 14px;
    color: #666666;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}
.at-productlist-control .block-sort .main:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 8px;
    background: url("../_images/bgs.png") -640px -64px;
    margin: 0 0 0 12px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-productlist-control .block-sort .main.open:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.at-productlist-control .block-sort .sub {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: #ffffff;
    line-height: normal;
}
.at-productlist-control .block-sort .sub:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.at-productlist-control .block-sort .sub .caption {
    padding: 12px 10px;
    color: #666666;
    font-size: 14px;
    white-space: nowrap;
    background-color: #ffffff;
}
.at-productlist-control .block-sort .sub a {
    display: block;
    border-top: 1px solid #cccccc;
    padding: 9px 10px;
    font-size: 18px;
    background-color: #ffffff;
}
.at-productlist-control .block-sort .sub a.selected {
    background-color: #666699;
    color: #ffffff;
}
.at-productlist-control .block-filter {
    float: right;
    padding: 0 10px;
    font-size: 14px;
    color: #666666;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}
.at-productlist-control .block-filter:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 16px;
    background: url("../_images/bgs.png") -576px 0;
    margin: 0 0 0 6px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-productlist-control .block-help {
    float: left;
    padding: 0 10px;
    font-size: 14px;
    color: #666666;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}
.at-productlist-control .block-help:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url("../_images/bgs.png") -1216px -32px;
    margin: 0 0 0 6px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.at-productlist-caption {
    background-color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 11px;
    margin: 0 0 30px 0;
    box-shadow: 0 1px 0 #ededed;
}

.at-productlist-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 -30px 0;
}

.at-productlist-element {
    border-bottom: 1px solid #ededed;
    padding: 0 10px 30px 10px;
    margin: 0 0 30px 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 320px;
}
.at-productlist-element .block-image {
    float: left;
    width: 95px;
    height: 95px;
    border: 1px solid #cccccc;
    margin: 0 0 10px 0;
    position: relative;
}
.at-productlist-element .block-image a {
    display: table-cell;
    vertical-align: middle;
    width: 95px;
    height: 95px;
}
.at-productlist-element .block-image img {
    max-width: 95px;
    max-height: 95px;
    margin: 0 auto;
    display: block;
}
.at-productlist-element .block-info {
    margin: 0 0 10px 105px;
    line-height: 14px;
    color: #999999;
    font-size: 12px;
}
.at-productlist-element .remove {
    position: absolute;
    top: -1px;
    left: -1px;
    background: url("../_images/bgs.png") -768px -64px #383956;
    width: 24px;
    height: 24px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-productlist-element .remove:active {
    background-color: #666666;
}
.at-productlist-element .name {
    font-size: 12px;
    line-height: normal;
    margin: -3px 0 8px 0;
}
.at-productlist-element .name strong {
    font-size: 16px;
}
.at-productlist-element .block-buy .price {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
}
.at-productlist-element .block-buy .price span {
    font-size: 12px;
}
.at-productlist-element .block-buy .at-button, .at-productlist-element .block-buy .at-block-stepper a, .at-block-stepper .at-productlist-element .block-buy a {
    float: right;
}
.at-productlist-element .block-buy .count-wrap {
    margin: 0 60px 0 110px;
}
.at-productlist-element .block-buy .count-wrap.no-buy {
    margin: 0;
    float: right;
}

.at-block-count {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.at-block-count .count {
    height: 38px;
    padding: 0 25px;
    width: 84px;
    font-size: 15px;
    text-align: center;
    color: #666666;
}
.at-block-count .plus,
.at-block-count .minus {
    position: absolute;
    width: 25px;
    height: 34px;
    background-color: #f9f9f9;
    top: 2px;
    cursor: pointer;
    background-image: url("../_images/bgs.png");
}
.at-block-count .minus {
    left: 2px;
    border-radius: 5px 0 0 5px;
    background-position: -1114px -22px;
}
.at-block-count .plus {
    right: 2px;
    border-radius: 0 5px 5px 0;
    background-position: -1115px 10px;
}

.at-block-stepper {
    text-align: center;
    padding: 0 10px;
}
.at-block-stepper a {
    display: inline-block;
    vertical-align: middle;
    min-width: 41px;
    width: auto;
    font-size: 24px;
    padding: 0 10px;
}
.at-block-stepper a.prev {
    float: left;
    background-image: url("../_images/bgs.png");
    background-position: -1204px 9px;
}
.at-block-stepper a.next {
    float: right;
    background-image: url("../_images/bgs.png");
    background-position: -1269px 9px;
}

.at-productfilter-list {
    padding: 0 10px;
    margin: 0 0 20px 0;
}
.at-productfilter-list a {
    background-color: #cccccc;
    font-size: 12px;
    line-height: 24px;
    color: #383956;
    padding: 0 20px 0 5px;
    float: left;
    margin: 0 4px 4px 0;
    position: relative;
}
.at-productfilter-list a:before {
    content: '';
    position: absolute;
    top: 7px;
    right: 5px;
    width: 11px;
    height: 11px;
    background: url("../_images/bgs.png") -672px -64px;
}

.at-filters-wrapper {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-filters-wrapper.hidden {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.at-filters-wrapper .at-page-caption {
    margin: 0;
}
.at-filters-wrapper .checked-filters {
    font-weight: bold;
    color: #999999;
    line-height: 19px;
    margin: 14px 0 0 0;
}
.at-filters-wrapper .checked-filters .title {
    font-size: 14px;
    color: inherit;
}
.at-filters-wrapper .filter-element {
    border-bottom: 1px solid #ededed;
}
.at-filters-wrapper .filter-element .head {
    padding: 10px 30px 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.at-filters-wrapper .filter-element .head:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 12px;
    width: 16px;
    height: 8px;
    background: url("../_images/bgs.png") -704px -64px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-filters-wrapper .filter-element .head.open:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.at-filters-wrapper .filter-element .body {
    padding: 10px;
}
.at-filters-wrapper .filter-element .slider {
    padding: 0 15px;
    border-bottom: 5px solid #cccccc;
    margin: 10px 0 25px 0;
}
.at-filters-wrapper .filter-element .slider .ui-slider {
    margin: 0 0 -5px 0;
    height: 5px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #cccccc !important;
    background-image: none !important;
}
.at-filters-wrapper .filter-element .slider .ui-slider-range {
    background-color: #666699 !important;
    background-image: none !important;
}
.at-filters-wrapper .filter-element .slider .ui-slider-handle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #ebebeb !important;
    border: none !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 -15px;
    top: -12px;
}
.at-filters-wrapper .filter-element .slider-values {
    text-align: center;
    margin: 0 0 10px 0;
}
.at-filters-wrapper .filter-element .slider-values .element {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
    font-size: 15px;
    color: #666666;
    line-height: 34px;
    padding: 0 10px;
    margin: 0 15px;
}
.at-filters-wrapper .filter-element .slider-values .element input {
    font-size: 15px;
    border: none;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 65px;
    color: #666666;
}
.at-filters-wrapper .filter-element .check-value {
    display: block;
    position: relative;
    padding: 0 0 0 43px;
    margin: 13px 0 0 0;
}
.at-filters-wrapper .filter-element .check-value:first-child {
    margin: 0;
}
.at-filters-wrapper .filter-element .check-value .name {
    display: table-cell;
    height: 33px;
    vertical-align: middle;
    color: #666666;
}
.at-filters-wrapper .filter-element .check-value .at-accept-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
}
.at-filters-wrapper .buttons-block {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-filters-wrapper .buttons-block .button {
    float: left;
    width: 50%;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.at-filters-wrapper .buttons-place {
    height: 60px;
}

.at-message-info {
    margin: 15px 10px 20px 10px;
    padding: 30px 15px 15px 15px;
    text-align: center;
    position: relative;
    line-height: 26px;
    background-color: #fffcef;
    border: 1px solid #d66d58;
    border-radius: 5px;
    color: #666666;
    font-size: 18px;
}
.at-message-info:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    margin: 0 0 0 -15px;
    width: 31px;
    height: 31px;
    background: url("../_images/bgs.png") -736px -64px;
}
.at-message-info a {
    color: #666699;
    text-decoration: underline;
}
.at-message-info .title {
    font-size: 20px;
    font-weight: bold;
    color: #d66d58;
}

.at-order-total {
    border-top: 1px dashed #d6d6d6;
    top: -1px;
    position: relative;
    background-color: #ffffff;
}
.at-order-total .delivery {
    padding: 10px;
    font-size: 18px;
}
.at-order-total .summ {
    padding: 10px;
    font-size: 22px;
    border-top: 1px solid #ededed;
}
.at-order-total .summ:first-child {
    border: none;
}
.at-order-total .summ strong {
    color: #cd242b;
}
.at-order-total .summ strong span {
    font-size: 14px;
}

.at-product-images {
    overflow: hidden;
    padding: 0 0 50px 0;
    position: relative;
    border-bottom: 1px solid #ededed;
}
.at-product-images .slick-slide {
    float: left;
    height: 230px;
}
.at-product-images .slick-slide .wrap {
    display: table;
    width: 100%;
}
.at-product-images .slick-slide span {
    display: table-cell;
    vertical-align: middle;
    height: 230px;
}
.at-product-images .slick-slide img {
    display: block;
    margin: 0 auto;
    max-height: 230px;
    max-width: 300px;
}
.at-product-images .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.at-product-images .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}
.at-product-images .slick-dots button {
    width: 8px;
    height: 8px;
    border: none;
    overflow: hidden;
    color: transparent;
    background-color: #666666;
    border-radius: 100%;
    padding: 0;
}
.at-product-images .slick-dots .slick-active button {
    background-color: #cd242b;
}

.at-product-terms {
    padding: 10px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #d6d6d6;
}
.at-product-terms .caption {
    margin: 0 0 20px 0;
    color: #999999;
    font-size: 14px;
}
.at-product-terms label {
    display: block;
    position: relative;
    padding: 0 0 0 43px;
    margin: 0 0 13px 0;
    line-height: 33px;
    font-size: 15px;
    font-weight: bold;
    color: #666666;
}
.at-product-terms label .title {
    display: inline-block;
    width: 110px;
    font-weight: normal;
}
.at-product-terms label .at-accept-checkbox {
    position: absolute;
    top: 0;
    left: 0;
}
.at-product-terms label.selected {
    color: #333333;
}
.at-product-terms label.selected .title {
    font-weight: bold;
}

.at-product-buy {
    padding: 0 10px;
    margin: 0 0 20px 0;
}
.at-product-buy .avail {
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 31px;
}
.at-product-buy .avail strong {
    color: #333333;
}
.at-product-buy .price {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
}
.at-product-buy .price span {
    font-size: 12px;
}
.at-product-buy .at-button, .at-product-buy .at-block-stepper a, .at-block-stepper .at-product-buy a {
    float: right;
    width: 92px;
    height: 36px;
    line-height: 36px;
}
.at-product-buy .count-wrap {
    margin: 0 110px 0 110px;
    text-align: center;
}
.at-product-buy .count-wrap.no-buy {
    margin: 0;
    float: right;
}

.at-product-info .info-element {
    border-top: 1px solid #ededed;
}
.at-product-info .info-element .head {
    padding: 10px 30px 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.at-product-info .info-element .head:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 12px;
    width: 16px;
    height: 8px;
    background: url("../_images/bgs.png") -704px -64px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-product-info .info-element .head.open:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.at-product-info .info-element .body {
    padding: 10px;
}
.at-product-info .info-element .body .table-wrap {
    margin: 0 -10px;
}
.at-product-info .info-element .body .applicability-title {
    color: #666666;
    margin: 0 0 10px 0;
}
.at-product-info .info-element .body .originals-title {
    color: #666666;
    margin: 0 0 10px 0;
}
.at-product-info .info-element .body .originals-list {
    padding: 0;
    margin: 0;
    list-style: none;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.at-product-info .info-element .body .originals-list li {
    padding: 12px 0 0 10px;
    position: relative;
    color: #666666;
}
.at-product-info .info-element .body .originals-list li:last-child {
    padding-bottom: 0;
}
.at-product-info .info-element .body .originals-list li:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #cd242b;
    border-radius: 100%;
    top: 21px;
    left: 0;
}
.at-product-info .info-element .body .about-brand {
    color: #666666;
    line-height: 20px;
}
.at-product-info .info-element .body .about-brand .light {
    color: #999999;
}
.at-product-info .info-element .body .about-brand h2 {
    text-transform: none;
    font-weight: normal;
}
.at-product-info .info-element .body .about-brand a {
    color: #666699;
}

.at-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f7f7f7;
}
.at-table td {
    padding: 8px 10px;
    border-top: 1px solid #ffffff;
    color: #666666;
    line-height: 17px;
}
.at-table td.colspan {
    background-color: #c6c6d3;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px !important;
    border-top: 2px solid #ffffff;
}
.at-table td.colspan i {
    float: right;
    width: 21px;
    height: 21px;
    background: url("../_images/bgs.png") -832px -64px;
    margin: -2px 0 -5px 0;
}
.at-table td.colspan.open i {
    background-position: -864px -64px;
}
.at-table tr:first-child td {
    border: none;
}
.at-table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
.at-table .light {
    color: #999999;
}
.at-table.smaller-font td {
    font-size: 14px;
}

.at-order-list {
    border-top: 1px solid #ededed;
    padding: 10px;
}
.at-order-list .order-element {
    border: 1px solid #666699;
    margin: 0 0 10px 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-order-list .order-element .order-head {
    padding: 7px 7px 7px 27px;
    margin: 0 0 10px 0;
    color: #999999;
    font-size: 12px;
    position: relative;
}
.at-order-list .order-element .order-head strong {
    font-size: 16px;
    color: #333333;
}
.at-order-list .order-element .order-head:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: url("../_images/bgs.png") -1120px 0;
}
.at-order-list .order-element .order-body {
    display: none;
}
.at-order-list .order-element .order-foot {
    background-color: #f8f8f8;
    padding: 5px 10px;
    text-align: center;
}
.at-order-list .order-element .order-foot .status {
    color: #669933;
}
.at-order-list .order-element .order-foot .status.accept {
    color: #cc9966;
}
.at-order-list .order-element .order-foot .name {
    margin: 0 0 2px 0;
    display: none;
}
.at-order-list .order-element .order-foot .download {
    margin: 20px 0;
    display: none;
}
.at-order-list .order-element .order-foot .download a {
    color: #666699;
}
.at-order-list .order-element .order-foot .download a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 16px;
    background: url("../_images/bgs.png") -1216px -64px;
    margin: 0 5px 0 0;
    position: relative;
    top: -1px;
}
.at-order-list .order-element .order-foot .download a span {
    border-bottom: 1px dashed;
}
.at-order-list .order-element.open {
    border-color: #d6d6eb;
    box-shadow: 0 0 5px #666699;
}
.at-order-list .order-element.open .order-head:before {
    background-position: -1120px -32px;
}
.at-order-list .order-element.open .order-body {
    display: block;
}
.at-order-list .order-element.open .order-foot .name,
.at-order-list .order-element.open .order-foot .download {
    display: block;
}

.at-block-userinfo {
    border-top: 1px solid #ededed;
    padding: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.at-block-userinfo .info-element {
    margin: 0 10px 30px 10px;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    background-color: #fbfbfb;
    padding: 10px;
    color: #666666;
    line-height: 30px;
    position: relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 320px;
}
.at-block-userinfo .info-element .caption {
    font-weight: bold;
    color: #666666;
}
.at-block-userinfo .info-element .title {
    display: inline-block;
    width: 110px;
}
.at-block-userinfo .info-element .info {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    background: url("../_images/bgs.png") -1216px -32px;
    margin: 0 0 0 6px;
}
.at-block-userinfo .info-element .user-left {
    float: left;
    width: 140px;
}
.at-block-userinfo .info-element .user-avatar {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    display: inline-block;
    width: 68px;
    height: 68px;
}
.at-block-userinfo .info-element .user-avatar img {
    display: block;
}
.at-block-userinfo .info-element .user-name {
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.at-block-userinfo .info-element .user-name span {
    display: block;
    text-transform: none;
    font-weight: normal;
    color: #999999;
    margin: 2px 0 0 0;
}
.at-block-userinfo .info-element .user-contacts {
    margin: 0 0 0 145px;
    line-height: 17px;
}
.at-block-userinfo .info-element .user-contacts .block-phones {
    padding: 0 0 0 31px;
    position: relative;
}
.at-block-userinfo .info-element .user-contacts .block-phones:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 4px;
    width: 15px;
    height: 23px;
    background: url("../_images/bgs.png") -1313px 0;
}
.at-block-userinfo .info-element .user-contacts .block-email {
    padding: 0 0 0 31px;
    position: relative;
}
.at-block-userinfo .info-element .user-contacts .block-email a {
    color: #666699;
}
.at-block-userinfo .info-element .user-contacts .block-email:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 16px;
    background: url("../_images/bgs.png") -1312px -64px;
}
.at-block-userinfo .info-element .user-contacts .block-skype {
    padding: 0 0 0 31px;
    position: relative;
}
.at-block-userinfo .info-element .user-contacts .block-skype a {
    color: #666699;
}
.at-block-userinfo .info-element .user-contacts .block-skype:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 20px;
    background: url("../_images/bgs.png") -1312px -32px;
}

.at-personal-info {
    padding: 10px;
    margin: 0 0 30px 0;
}
.at-personal-info .block-caption {
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 62px;
    position: relative;
    margin: 0 0 20px 0;
}
.at-personal-info .block-caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #bebed1;
    width: 48px;
    height: 48px;
    box-shadow: 0 0 0 3px #e4e4f3;
    border-radius: 100%;
    background: url("../_images/bgs.png") -1343px 0;
}
.at-personal-info .block-caption span {
    display: table-cell;
    vertical-align: middle;
    height: 52px;
}

.at-personal-notification {
    border-top: 1px solid #ededed;
    padding: 30px 10px 10px 10px;
    margin: 0 0 30px 0;
}
.at-personal-notification .block-caption {
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 62px;
    position: relative;
    margin: 0 0 20px 0;
}
.at-personal-notification .block-caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #bebed1;
    width: 48px;
    height: 48px;
    box-shadow: 0 0 0 3px #e4e4f3;
    border-radius: 100%;
    background: url("../_images/bgs.png") -1408px 0;
}
.at-personal-notification .block-caption span {
    display: table-cell;
    vertical-align: middle;
    height: 52px;
}

.at-block-permissions {
    padding: 10px 0 0 0;
}
.at-block-permissions .p-element {
    margin: 13px 0 0 0;
    color: #666666;
    padding: 0 0 0 94px;
    position: relative;
}
.at-block-permissions .p-element .text {
    display: table-cell;
    vertical-align: middle;
    height: 33px;
    line-height: 19px;
}
.at-block-permissions .p-element .check-wrap {
    position: absolute;
    top: 0;
    left: 0;
}
.at-block-permissions .p-element .check-wrap:nth-child(2) {
    left: 52px;
}
.at-block-permissions .p-element .check-wrap .title {
    position: absolute;
    color: #999999;
    text-transform: uppercase;
    font-size: 12px;
    top: -24px;
    left: 0;
    width: 33px;
    text-align: center;
}

.at-personal-delivery {
    border-top: 1px solid #ededed;
    padding: 30px 10px 10px 10px;
    margin: 0 0 30px 0;
}
.at-personal-delivery .block-caption {
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 62px;
    position: relative;
    margin: 0 0 20px 0;
}
.at-personal-delivery .block-caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #bebed1;
    width: 48px;
    height: 48px;
    box-shadow: 0 0 0 3px #e4e4f3;
    border-radius: 100%;
    background: url("../_images/bgs.png") -1472px 0;
}
.at-personal-delivery .block-caption span {
    display: table-cell;
    vertical-align: middle;
    height: 52px;
}

.at-block-adress-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px -30px -10px;
}

.at-block-adress {
    border: 1px solid #d2d2d2;
    padding: 25px 10px;
    position: relative;
    margin: 0 0 10px 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 320px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px 20px 10px;
}
.at-block-adress.main {
    border-color: #666699;
    box-shadow: 0 0 3px #666699;
}
.at-block-adress .remove {
    position: absolute;
    top: -1px;
    right: -1px;
    background: url("../_images/bgs.png") -768px -64px #383956;
    width: 24px;
    height: 24px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.at-block-adress .remove:active {
    background-color: #666666;
}
.at-block-adress .adress {
    padding: 0 0 0 27px;
    margin: 0 0 23px 0;
    position: relative;
    line-height: 19px;
    color: #666666;
}
.at-block-adress .adress:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 21px;
    background: url("../_images/bgs.png") -1344px -64px;
}
.at-block-adress .edit {
    padding: 0 0 0 27px;
    margin: 0 0 23px 0;
    position: relative;
    line-height: 19px;
    color: #666666;
}
.at-block-adress .edit:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 14px;
    height: 15px;
    background: url("../_images/bgs.png") -1376px -64px;
}
.at-block-adress .edit a {
    color: #666699;
    border-bottom: 1px dashed;
}
.at-block-adress .main {
    padding: 0 0 0 27px;
    position: relative;
    line-height: 19px;
    color: #666666;
}
.at-block-adress .main:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 14px;
    height: 12px;
    background: url("../_images/bgs.png") -1408px -64px;
}
.at-block-adress .main a {
    color: #666699;
    border-bottom: 1px dashed;
}

.at-remove-account {
    border-top: 1px solid #d2d2d2;
    padding: 10px 20px;
}
.at-remove-account .at-button, .at-remove-account .at-block-stepper a, .at-block-stepper .at-remove-account a {
    background-color: #999999;
}

/*# sourceMappingURL=main.css.map */
