// colors
$colorBrand: #666699;
$colorBrandHover: #58588a;
$colorBrandSecondary: #ff7200;
$colorImportant: #cd242b;
$colorSuccess: #669933;
$colorDark: #333333;
$colorSemiDark: #666666;
$colorLight: #cccccc;

// graphics
$bgs: url('../_images/bgs.png');

// typography
$fontBase: 'Roboto', sans-serif;
$fontSizeBase: 16px;

@import 'mixins';

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #ffffff;
    text-decoration: none;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: $colorDark;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    @include box-sizing($bb);
    color: $colorDark;
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    height: 43px;
    border: 2px solid #d7d7d7;
    padding: 0 10px;
    border-radius: 5px;
    @include transition-duration(0.3s);

    &:focus {
        border-color: #b0b0cf;
    }
}

textarea {
    border: 2px solid #d7d7d7;
    padding: 10px;
    border-radius: 5px;
    @include transition-duration(0.3s);
    resize: vertical;
}

.at-button {
    height: 39px;
    display: block;
    background-color: $colorBrand;
    border-radius: 5px;
    padding: 0 20px;
    color: #ffffff;
    border: none;
    width: 100%;
    cursor: pointer;
    @include transition-duration(0.3s);

    &.secondary {
        background-color: $colorImportant;
    }

    &.lite {
        background-color: #d2d2d2;
    }

    &.buy {
        height: 36px;
        width: 39px;
        background-image: $bgs;
        background-position: -1149px 3px;

        &.secondary {
            background-position: -1149px -29px;
        }
    }

    &:active {
        background-color: $colorSemiDark !important;
    }
}

a.at-button {
    line-height: 39px;
    text-align: center;
    @include box-sizing($bb);

    &.buy {
        line-height: 36px;
    }
}

a {
    text-decoration: none;
    outline: none;
}

.at-select {
    height: 43px;
    border: 2px solid #d7d7d7;
    @include box-sizing($bb);
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    position: relative;
    padding: 0 30px 0 10px;
    background-color: #ffffff;

    &.disabled {
        opacity: 0.5;
    }

    &:after {
        content: '';
        position: absolute;
        top: 17px;
        right: 11px;
        width: 13px;
        height: 7px;
        background: $bgs -800px -64px;
    }

    span {
        line-height: 39px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        color: #676767;
        font-size: $fontSizeBase + 2;
    }

    select {
        width: 100%;
        height: 39px;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-appearance: none;

        &.js-select-custom {
            display: none;
        }
    }
}

h1, h2 {
    font-size: $fontSizeBase + 2;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.important {
    color: $colorImportant;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}

.at-header {
    background-color: #383956;
    border-top: 4px solid $colorImportant;

    .logo {
        text-align: center;
        padding: 12px 0;

        img {
            display: inline-block;
        }
    }
}

.at-top-nav {
    background-color: #383956;
    box-shadow: 0 1px 0 #1e1f37;
    position: relative;
    width: 100%;
    @include box-sizing($bb);

    &.fixed-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        border-top: 4px solid $colorImportant;
    }

    .block-inner {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 0 10px 0 0;
        @include box-sizing($bb);
    }

    .block-element {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        height: 48px;
        background-image: $bgs;
        position: relative;
        z-index: 11;
        @include transition-duration(0.3s);

        &.el-toggle {
            background-position: -3px 8px;
        }

        &.el-search {
            background-position: -65px 8px;
        }

        &.el-cabinet {
            background-position: -131px 8px;
            position: relative;

            .status {
                position: absolute;
                top: 9px;
                left: 64%;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #ffe682;
            }
        }

        &.el-basket {
            background-position: -197px 8px;
            position: relative;

            .count {
                position: absolute;
                top: 7px;
                right: 5px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                background-color: #262740;
                border-radius: 100%;
                color: #ffffff;
                text-align: center;
                font-size: $fontSizeBase - 4;

                &.full {
                    background-color: $colorImportant;
                }
            }
        }

        &.selected {
            background-color: #2b2c49;
            box-shadow: 0 -4px 0 $colorImportant;
        }
    }

    .block-separate {
        display: table-cell;
    }

    .block-search {
        padding: 12px 9px;
        background-color: #2b2c49;
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 46px;
        box-shadow: 0 1px 0 #454665 inset;
        border-top: 1px solid #1e1f37;
        @include box-sizing($bb);
        
        &.hidden {
            display: none;
        }

        input[type="text"] {
            width: 100%;
            border-color: #1c1d32;
            padding-right: 37px;

            @include placeholder {
                color: #8b8c9e;
                opacity: 1;
            }
        }

        input[type="submit"] {
            width: 39px;
            height: 39px;
            border: none;
            position: absolute;
            top: 14px;
            right: 12px;
            padding: 0;
            background: $bgs -253px 4px transparent;

            &:active {
                background-position: -253px -28px;
            }
        }
    }

    .block-client-menu {
        background-color: #2b2c49;
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 46px;
        box-shadow: 0 1px 0 #454665 inset;
        border-top: 1px solid #1e1f37;
        @include box-sizing($bb);
        height: 1000px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            border-top: 1px solid #383956;
        }

        a {
            display: block;
            padding: 10px 35px 10px 20px;
            color: $colorLight;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            &:active {
                background-color: #383956;
            }

            &.exit {
                margin: 15px 0 0 0;
            }

            &:before {
                content: '';
                position: absolute;
                right: 20px;
                top: 12px;
                width: 8px;
                height: 16px;
                background: $bgs -576px -64px;
            }
        }
    }
}

.at-top-nav-place {
    height: 66px;

    &.small {
        height: 114px;

        &.no-search {
            height: 66px;
        }
    }

    &.no-search {
        height: 0;
    }
}

.at-block-prefooter {
    border-top: 1px solid #ededed;
    padding: 48px 8px;

    .block-phone {
        border: 2px solid #b4b5d4;
        border-radius: 5px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        font-size: $fontSizeBase + 8;
        background-color: #f8f8f8;
        display: block;
        @include transition-duration(0.3s);

        &:active {
            background-color: #9999cc;
        }

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 21px;
            height: 32px;
            background: $bgs -293px 0;
            margin: 0 15px 0 0;
            position: relative;
            top: -1px;
        }
    }
}

.at-footer {
    border-bottom: 4px solid $colorImportant;
    text-align: center;
    padding: 20px;
    background: url("../_images/footer-bg.png") center bottom no-repeat #383956;

    .copy {
        color: #838499;
        font-size: $fontSizeBase - 2;
        font-weight: 300;
    }

    .social {
        margin: 0 0 20px 0;

        a {
            display: inline-block;
            vertical-align: middle;
            width: 38px;
            height: 39px;
            background: $bgs;
            margin: 0 9px;
            @include transition-duration(0.1s);

            &.fb {
                background-position: -320px 0;

                &:active {
                    background-position: -320px -57px;
                }
            }

            &.gp {
                background-position: -384px 0;

                &:active {
                    background-position: -384px -57px;
                }
            }

            &.tw {
                background-position: -448px 0;

                &:active {
                    background-position: -448px -57px;
                }
            }

            &.vk {
                background-position: -512px 0;

                &:active {
                    background-position: -512px -57px;
                }
            }
        }
    }
}

.at-content {
    &.reserve {
        padding-top: 65px;
    }
}

.at-block-category {
    position: relative;
    overflow: hidden;
    @include transition-duration(0.3s);
    margin: 0 0 50px 0;
    padding: 0 0 1px 0;

    .caption {
        font-size: $fontSizeBase + 6;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding: 25px 0;
    }

    ul {
        border-top: 1px solid #ededed;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        @include transition-duration(0.3s);

        &.level-1 {
            @include translateX(0);
        }

        &.level-2 {
            @include translateX(-100%);
        }

        &.level-3 {
            @include translateX(-200%);
        }
    }

    li {
        border-bottom: 1px solid #ededed;
    }

    a {
        display: block;
        padding: 10px;

        i {
            float: right;
            width: 8px;
            height: 16px;
            background: $bgs -576px 0;
            margin: 2px 0 0 10px;
        }

        &.back {
            font-size: $fontSizeBase + 2;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            padding-left: 36px;

            &:before {
                content: '';
                position: absolute;
                left: 10px;
                top: 12px;
                width: 17px;
                height: 20px;
                background: $bgs -576px -32px;
            }
        }
    }

    ul ul {
        position: absolute;
        width: 100%;
        top: -1px;
        left: 100%;
        display: none;
    }
}

.at-block-banners {
    padding: 0 10px;
    margin: 0 0 50px 0;

    .element {
        display: block;
        border-bottom: 4px solid $colorImportant;
        margin: 0 0 20px 0;

        img {
            display: block;
            width: 100%;
        }
    }
}

.at-block-why {
    padding: 0 10px;

    .caption {
        font-size: $fontSizeBase + 6;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 35px 0;
    }

    .element {
        margin: 0 0 50px 0;
        padding: 0 0 0 115px;
        position: relative;
        @include box-sizing($bb);

        .wrap {
            height: 60px;
            display: table-cell;
            vertical-align: middle;
            line-height: 19px;
            text-transform: uppercase;
            font-weight: bold;
            color: $colorSemiDark;
        }

        .icon {
            width: 88px;
            height: 57px;
            background: $bgs;
            position: absolute;
            left: 0;
            top: 50%;
            @include translateY(-50%);

            &.icon-01 {
                background-position: -608px 0;
            }

            &.icon-02 {
                background-position: -704px 0;
            }

            &.icon-03 {
                background-position: -800px 0;
            }
        }
    }

    @media screen and (min-width: 768px){
        letter-spacing: -4px;

        .caption {
            letter-spacing: 0;
        }

        .element {
            display: inline-block;
            vertical-align: middle;
            width: 33.33%;
            letter-spacing: 0;
        }
    }
}

.at-curtain-left {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: #383956;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    @include transition-duration(0.3s);
    @include translateX(-300px);

    &.open {
        @include translateX(0);
    }

    .head {
        padding: 20px;
        border-bottom: 1px solid #2a2b46;
        box-shadow: 0 1px 0 #4a4b6c;
    }

    .close {
        float: right;
        width: 38px;
        height: 39px;
        background: $bgs -896px 0;
    }

    .logo {
        float: left;
    }

    .body {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            border-bottom: 1px solid #2a2b46;
        }

        a {
            display: block;
            padding: 10px 35px 10px 20px;
            color: $colorLight;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                right: 20px;
                top: 12px;
                width: 8px;
                height: 16px;
                background: $bgs -576px -64px;
            }
        }
    }
}

.at-page-caption {
    border-bottom: 1px solid #ededed;
    padding: 12px 10px;
    margin: 0 0 20px 0;

    h1,
    h2 {
        display: inline;
    }

    .back {
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 20px;
        background: $bgs -576px -32px;
        margin: 0 5px 0 0;
        position: relative;
        top: -2px;
    }

    .category {
        font-size: $fontSizeBase - 4;
        text-transform: uppercase;
        color: $colorSemiDark;
        margin: -4px 0 -4px 26px;
    }
}

.at-page-content {
    padding: 0 10px;
    color: $colorSemiDark;
    line-height: 24px;

    .button-back {
        margin: 0 10px;
    }
    
    .image-intext-full {
        display: block;
        width: 100%;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            padding: 0 0 24px 10px;
            position: relative;

            &:last-child {
                padding-bottom: 0;
            }

            &:before {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: $colorImportant;
                border-radius: 100%;
                top: 11px;
                left: 0;
            }
        }
    }

    .block-phones {
        padding: 0 0 0 47px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 4px;
            width: 21px;
            height: 32px;
            background: $bgs -293px 0;
        }
    }

    .block-email {
        padding: 0 0 0 47px;
        position: relative;

        a {
            color: $colorBrand;
        }

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 28px;
            height: 22px;
            background: $bgs -290px -37px;
        }
    }

    .block-adress {
        padding: 0 0 0 47px;
        position: relative;

        a {
            color: $colorBrand;
            text-decoration: underline;

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 17px;
                background: $bgs -608px -64px;
                margin: 0 9px 0 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 22px;
            height: 27px;
            background: $bgs -293px -66px;
        }
    }

    .block-worktime {
        .title {
            display: inline-block;
            width: 70px;
        }
    }

    .block-map {
        margin: 0 -10px;

        iframe {
            border: none;
            width: 100%;
            height: 380px;
            display: block;
        }
    }

    .content-caption {
        font-weight: bold;
        font-size: $fontSizeBase + 2;
        margin: 0 0 7px 0;
    }
}

.at-block-form {
    margin: 0 0 -20px 0;

    .form-element {
        margin: 0 0 20px 0;
        position: relative;

        .f-title {
            font-size: $fontSizeBase - 1;
            color: $colorSemiDark;
            margin: 0 0 7px 0;
        }

        input[type="text"],
        input[type="password"],
        input[type="tel"],
        input[type="email"] {
            width: 100%;

            &.f-wrap {
                padding-right: 85px;
            }
        }

        textarea {
            width: 100%;
            height: 100px;
        }

        .at-select {
            width: 100% !important;
            @include box-sizing($bb);

            span {
                width: 100% !important;
                font-size: $fontSizeBase;
            }
        }

        .fixed-140 {
            width: 140px;
            margin: 0 auto;
            padding: 0;
            display: block;
        }

        .forget {
            position: absolute;
            z-index: 1;
            font-size: $fontSizeBase - 1;
            color: $colorBrand;
            border-bottom: 1px dashed;
            top: 40px;
            right: 15px;
            line-height: 1em;
        }

        .code-wrap {
            padding: 0 0 0 47px;
            position: relative;

            .code {
                line-height: 43px;
                position: absolute;
                top: 0;
                left: 0;
                font-size: $fontSizeBase + 2;
            }
        }

        .addon {
            margin: 10px 0 0 0;
        }

        .light {
            font-size: $fontSizeBase - 2;
            color: $colorSemiDark;
        }

        .indicator {
            border: 1px solid #c3c3cc;
            background-color: #eeeeee;
            text-align: center;
            font-size: $fontSizeBase - 1;
            color: #999999;
            padding: 4px;
        }

        .accept {
            position: relative;
            display: inline-block;
            padding: 0 0 0 47px;
            line-height: 18px;

            a {
                color: $colorBrand;
                text-decoration: none;
            }

            .at-accept-checkbox {
                position: absolute;
                top: 50%;
                left: 0;
                @include translateY(-50%);
                margin: 0;
            }
        }

        &.choose {
            border-bottom: 1px solid #eaeaea;
            margin: 0 -10px 0 -10px;
            padding: 15px 10px 0 10px;

            &.first {
                border-top: 1px solid #eaeaea;
            }

            label {
                display: block;
                text-transform: uppercase;
                font-weight: bold;
                font-size: $fontSizeBase - 2;
                margin: 0 0 10px 0;

                input {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 5px 0 0;
                    position: relative;
                    top: -2px;
                }
            }
        }

        &.selected {
            background-color: #ecedf4;
            padding: 5px 10px 15px 10px;
            margin-bottom: 0;

            .radio-value {
                display: block;
            }
        }

        .radio-value {
            display: none;
        }

        &.element-text {
            line-height: 18px;
            color: $colorSemiDark;

            span {
                color: #999999;
            }
        }
    }

    .double {
        margin: 0 -10px;

        .form-element {
            float: left;
            width: 50%;
            padding: 0 10px;
            @include box-sizing($bb);
        }
    }
}

.at-accept-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 31px;
    border: 1px solid #d7d7d7;
    position: absolute;
    margin: 0;
    background-color: #ffffff;

    &.disabled {
        opacity: 0.3;
    }

    span {
        position: absolute;
        top: 9px;
        left: 9px;
        width: 13px;
        height: 13px;
        @include transition-duration(0.3s);

        &.checked {
            background-color: $colorImportant;
        }
    }

    input {
        margin: 0;
        width: 31px;
        height: 31px;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
    }
}

.at-block-popup {
    position: fixed;
    padding: 0 100px;
    margin: 0 -100px;
    overflow: auto;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);

    &:before,
    &:after {
        content: '';
        display: block;
        height: 10px;
        width: 100%;
    }

    .dark {
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .block-popup {
        margin: 0 auto;
        background-color: #ffffff;
        position: relative;
        z-index: 1002;
        width: 300px;
        padding: 10px;
        @include box-sizing($bb);
    }

    .head {
        text-transform: uppercase;
        font-size: $fontSizeBase + 2;
        font-weight: bold;
        margin: 0 0 15px 0;
        line-height: 39px;

        .back {
            display: block;
            line-height: 22px;
            position: relative;
            padding: 0 0 0 26px;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 17px;
                height: 20px;
                background: $bgs -576px -32px;
            }
        }
    }

    .close {
        float: right;
        width: 38px;
        height: 39px;
        background: $bgs -960px 0;

        &:active {
            background-position: -960px -60px;
        }
    }

    .remind-message {
        line-height: 22px;
        font-size: $fontSizeBase + 2;
        text-transform: uppercase;
        text-align: center;
        color: $colorSemiDark;

        &:before {
            content: '';
            display: block;
            margin: 0 auto 28px auto;
            width: 66px;
            height: 66px;
            background: $bgs -1024px 0;
        }

        &.remove:before {
            background-position: -1536px 0;
        }
    }

    .block-terms {
        color: $colorSemiDark;
    }

    .fixed-buttons {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 10px 5px;
        background-color: #f8f8f8;
        @include box-sizing($bb);

        .element {
            padding: 0 5px;
            width: 50%;
            float: left;
            @include box-sizing($bb);
        }
    }

    .fixed-buttons-place {
        height: 60px;
    }

    &.full-screen {
        &:before,
        &:after {
            display: none;
        }

        .block-popup {
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    }
}

.at-block-ordercaption {
    text-align: center;
    font-size: $fontSizeBase + 8;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}

.at-productlist-control {
    margin: -20px 0 0 0;
    line-height: 40px;

    .block-sort {
        float: left;
        position: relative;
        z-index: 40;

        .main {
            padding: 0 10px;
            font-size: $fontSizeBase - 2;
            color: $colorSemiDark;
            position: relative;
            z-index: 2;
            background-color: #ffffff;

            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 8px;
                background: $bgs -640px -64px;
                margin: 0 0 0 12px;
                @include transition-duration(0.3s);
            }

            &.open:after {
                @include rotate(180deg);
            }
        }

        .sub {
            position: absolute;
            z-index: 1;
            top: 40px;
            left: 0;
            background-color: #ffffff;
            line-height: normal;

            &:before {
                content: '';
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: -1;
            }

            .caption {
                padding: 12px 10px;
                color: $colorSemiDark;
                font-size: $fontSizeBase - 2;
                white-space: nowrap;
                background-color: #ffffff;
            }

            a {
                display: block;
                border-top: 1px solid $colorLight;
                padding: 9px 10px;
                font-size: $fontSizeBase + 2;
                background-color: #ffffff;

                &.selected {
                    background-color: $colorBrand;
                    color: #ffffff;
                }
            }
        }
    }

    .block-filter {
        float: right;
        padding: 0 10px;
        font-size: $fontSizeBase - 2;
        color: $colorSemiDark;
        position: relative;
        z-index: 2;
        background-color: #ffffff;

        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 16px;
            background: $bgs -576px 0;
            margin: 0 0 0 6px;
            @include transition-duration(0.3s);
        }
    }

    .block-help {
        float: left;
        padding: 0 10px;
        font-size: $fontSizeBase - 2;
        color: $colorSemiDark;
        position: relative;
        z-index: 2;
        background-color: #ffffff;

        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            height: 14px;
            background: $bgs -1216px -32px;
            margin: 0 0 0 6px;
            @include transition-duration(0.3s);
        }
    }
}

.at-productlist-caption {
    background-color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $fontSizeBase - 2;
    padding: 11px;
    margin: 0 0 30px 0;
    box-shadow: 0 1px 0 #ededed;
}

.at-productlist-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 -30px 0;
}

.at-productlist-element {
    border-bottom: 1px solid #ededed;
    padding: 0 10px 30px 10px;
    margin: 0 0 30px 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 320px;

    .block-image {
        float: left;
        width: 95px;
        height: 95px;
        border: 1px solid $colorLight;
        margin: 0 0 10px 0;
        position: relative;

        a {
            display: table-cell;
            vertical-align: middle;
            width: 95px;
            height: 95px;
        }

        img {
            max-width: 95px;
            max-height: 95px;
            margin: 0 auto;
            display: block;
        }
    }

    .block-info {
        margin: 0 0 10px 105px;
        line-height: 14px;
        color: #999999;
        font-size: $fontSizeBase - 4;
    }

    .remove {
        position: absolute;
        top: -1px;
        left: -1px;
        background: $bgs -768px -64px #383956;
        width: 24px;
        height: 24px;
        @include transition-duration(0.3s);

        &:active {
            background-color: $colorSemiDark;
        }
    }

    .name {
        font-size: $fontSizeBase - 4;
        line-height: normal;
        margin: -3px 0 8px 0;

        strong {
            font-size: $fontSizeBase;
        }
    }

    .block-buy {
        .price {
            float: left;
            font-size: $fontSizeBase + 2;
            font-weight: bold;
            line-height: 36px;

            span {
                font-size: $fontSizeBase - 4;
            }
        }

        .at-button {
            float: right;
        }

        .count-wrap {
            margin: 0 60px 0 110px;

            &.no-buy {
                margin: 0;
                float: right;
            }
        }
    }
}

.at-block-count {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .count {
        height: 38px;
        padding: 0 25px;
        width: 84px;
        font-size: $fontSizeBase - 1;
        text-align: center;
        color: $colorSemiDark;
    }

    .plus,
    .minus {
        position: absolute;
        width: 25px;
        height: 34px;
        background-color: #f9f9f9;
        top: 2px;
        cursor: pointer;
        background-image: $bgs;
    }

    .minus {
        left: 2px;
        border-radius: 5px 0 0 5px;
        background-position: -1114px -22px;
    }

    .plus {
        right: 2px;
        border-radius: 0 5px 5px 0;
        background-position: -1115px 10px;
    }
}

.at-block-stepper {
    text-align: center;
    padding: 0 10px;

    a {
        @extend .at-button;
        display: inline-block;
        vertical-align: middle;
        min-width: 41px;
        width: auto;
        font-size: $fontSizeBase + 8;
        padding: 0 10px;

        &.prev {
            float: left;
            background-image: $bgs ;
            background-position: -1204px 9px;
        }

        &.next {
            float: right;
            background-image: $bgs;
            background-position: -1269px 9px;
        }
    }
}

.at-productfilter-list {
    padding: 0 10px;
    margin: 0 0 20px 0;

    a {
        background-color: $colorLight;
        font-size: $fontSizeBase - 4;
        line-height: 24px;
        color: #383956;
        padding: 0 20px 0 5px;
        float: left;
        margin: 0 4px 4px 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 7px;
            right: 5px;
            width: 11px;
            height: 11px;
            background: $bgs -672px -64px;
        }
    }
}

.at-filters-wrapper {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
    @include transition-duration(0.3s);

    &.hidden {
        @include translateX(-100%);
    }

    .at-page-caption {
        margin: 0;
    }

    .checked-filters {
        font-weight: bold;
        color: #999999;
        line-height: 19px;
        margin: 14px 0 0 0;

        .title {
            font-size: $fontSizeBase - 2;
            color: inherit;
        }
    }

    .filter-element {
        border-bottom: 1px solid #ededed;

        .head {
            padding: 10px 30px 10px 10px;
            font-size: $fontSizeBase - 2;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 16px;
                right: 12px;
                width: 16px;
                height: 8px;
                background: $bgs -704px -64px;
                @include transition-duration(0.3s);
            }

            &.open:before {
                @include rotate(-180deg);
            }
        }

        .body {
            padding: 10px;
        }

        .slider {
            padding: 0 15px;
            border-bottom: 5px solid #cccccc;
            margin: 10px 0 25px 0;

            .ui-slider {
                margin: 0 0 -5px 0;
                height: 5px !important;
                border: none !important;
                border-radius: 0 !important;
                background-color: #cccccc !important;
                background-image: none !important;
            }

            .ui-slider-range {
                background-color: $colorBrand !important;
                background-image: none !important;
            }

            .ui-slider-handle {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background-color: #ebebeb !important;
                border: none !important;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
                margin: 0 0 0 -15px;
                top: -12px;
            }
        }

        .slider-values {
            text-align: center;
            margin: 0 0 10px 0;

            .element {
                display: inline-block;
                vertical-align: middle;
                border: 2px solid #d7d7d7;
                border-radius: 5px;
                font-size: $fontSizeBase - 1;
                color: $colorSemiDark;
                line-height: 34px;
                padding: 0 10px;
                margin: 0 15px;

                input {
                    font-size: $fontSizeBase - 1;
                    border: none;
                    height: 34px;
                    padding: 0;
                    text-align: center;
                    width: 65px;
                    color: $colorSemiDark;
                }
            }
        }

        .check-value {
            display: block;
            position: relative;
            padding: 0 0 0 43px;
            margin: 13px 0 0 0;

            &:first-child {
                margin: 0;
            }

            .name {
                display: table-cell;
                height: 33px;
                vertical-align: middle;
                color: $colorSemiDark;
            }

            .at-accept-checkbox {
                position: absolute;
                top: 50%;
                left: 0;
                @include translateY(-50%);
                margin: 0;
            }
        }
    }

    .buttons-block {
        background-color: #f8f8f8;
        padding: 10px 0;
        border-top: 1px solid #eaeaea;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        @include box-sizing($bb);

        .button {
            float: left;
            width: 50%;
            padding: 0 10px;
            @include box-sizing($bb);
        }
    }

    .buttons-place {
        height: 60px;
    }
}

.at-message-info {
    margin: 15px 10px 20px 10px;
    padding: 30px 15px 15px 15px;
    text-align: center;
    position: relative;
    line-height: 26px;
    background-color: #fffcef;
    border: 1px solid #d66d58;
    border-radius: 5px;
    color: $colorSemiDark;
    font-size: $fontSizeBase + 2;

    &:before {
        content: '';
       position: absolute;
        top: -15px;
        left: 50%;
        margin: 0 0 0 -15px;
        width: 31px;
        height: 31px;
        background: $bgs -736px -64px;
    }

    a {
        color: $colorBrand;
        text-decoration: underline;
    }

    .title {
        font-size: $fontSizeBase + 4;
        font-weight: bold;
        color: #d66d58;
    }
}

.at-order-total {
    border-top: 1px dashed #d6d6d6;
    top: -1px;
    position: relative;
    background-color: #ffffff;

    .delivery {
        padding: 10px;
        font-size: $fontSizeBase + 2;
    }

    .summ {
        padding: 10px;
        font-size: $fontSizeBase + 6;
        border-top: 1px solid #ededed;

        &:first-child {
            border: none;
        }

        strong {
            color: $colorImportant;

            span {
                font-size: $fontSizeBase - 2;
            }
        }
    }
}

.at-product-images {
    overflow: hidden;
    padding: 0 0 50px 0;
    position: relative;
    border-bottom: 1px solid #ededed;

    .slick-slide {
        float: left;
        height: 230px;

        .wrap {
            display: table;
            width: 100%;
        }

        span {
            display: table-cell;
            vertical-align: middle;
            height: 230px;
        }

        img {
            display: block;
            margin: 0 auto;
            max-height: 230px;
            max-width: 300px;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px;
        }

        button {
            width: 8px;
            height: 8px;
            border: none;
            overflow: hidden;
            color: transparent;
            background-color: $colorSemiDark;
            border-radius: 100%;
            padding: 0;
        }

        .slick-active {
            button {
                background-color: $colorImportant;
            }
        }
    }
}

.at-product-terms {
    padding: 10px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #d6d6d6;

    .caption {
        margin: 0 0 20px 0;
        color: #999999;
        font-size: $fontSizeBase - 2;
    }

    label {
        display: block;
        position: relative;
        padding: 0 0 0 43px;
        margin: 0 0 13px 0;
        line-height: 33px;
        font-size: $fontSizeBase - 1;
        font-weight: bold;
        color: $colorSemiDark;

        .title {
            display: inline-block;
            width: 110px;
            font-weight: normal;
        }

        .at-accept-checkbox {
            position: absolute;
            top: 0;
            left: 0;
        }

        &.selected {
            color: $colorDark;

            .title {
                font-weight: bold;
            }
        }
    }
}

.at-product-buy {
    padding: 0 10px;
    margin: 0 0 20px 0;

    .avail {
        text-align: center;
        color: $colorSemiDark;
        font-size: $fontSizeBase - 2;
        line-height: 31px;

        strong {
            color: $colorDark;
        }
    }

    .price {
        float: left;
        font-size: $fontSizeBase + 2;
        font-weight: bold;
        line-height: 36px;

        span {
            font-size: $fontSizeBase - 4;
        }
    }

    .at-button {
        float: right;
        width: 92px;
        height: 36px;
        line-height: 36px;
    }

    .count-wrap {
        margin: 0 110px 0 110px;
        text-align: center;

        &.no-buy {
            margin: 0;
            float: right;
        }
    }
}

.at-product-info {
    .info-element {
        border-top: 1px solid #ededed;

        .head {
            padding: 10px 30px 10px 10px;
            font-size: $fontSizeBase - 2;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 16px;
                right: 12px;
                width: 16px;
                height: 8px;
                background: $bgs -704px -64px;
                @include transition-duration(0.3s);
            }

            &.open:before {
                @include rotate(-180deg);
            }
        }

        .body {
            padding: 10px;

            .table-wrap {
                margin: 0 -10px;
            }

            .applicability-title {
                color: $colorSemiDark;
                margin: 0 0 10px 0;
            }

            .originals-title {
                color: $colorSemiDark;
                margin: 0 0 10px 0;
            }

            .originals-list {
                padding: 0;
                margin: 0;
                list-style: none;
                -moz-column-count: 2;
                -webkit-column-count: 2;
                column-count: 2;

                li {
                    padding: 12px 0 0 10px;
                    position: relative;
                    color: $colorSemiDark;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        background-color: $colorImportant;
                        border-radius: 100%;
                        top: 21px;
                        left: 0;
                    }
                }
            }

            .about-brand {
                color: $colorSemiDark;
                line-height: 20px;

                .light {
                    color: #999999;
                }

                h2 {
                    text-transform: none;
                    font-weight: normal;
                }

                a {
                    color: $colorBrand;
                }
            }
        }
    }
}

.at-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f7f7f7;

    td {
        padding: 8px 10px;
        border-top: 1px solid #ffffff;
        color: $colorSemiDark;
        line-height: 17px;

        &.colspan {
            background-color: #c6c6d3;
            color: #ffffff;
            font-weight: bold;
            font-size: $fontSizeBase + 2 !important;
            border-top: 2px solid #ffffff;

            i {
                float: right;
                width: 21px;
                height: 21px;
                background: $bgs -832px -64px;
                margin: -2px 0 -5px 0;
            }

            &.open i {
                background-position: -864px -64px;
            }
        }
    }

    tr:first-child td {
        border: none;
    }

    tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    .light {
        color: #999999;
    }

    &.smaller-font {
        td {
            font-size: $fontSizeBase - 2;
        }
    }
}

.at-order-list {
    border-top: 1px solid #ededed;
    padding: 10px;

    .order-element {
        border: 1px solid $colorBrand;
        margin: 0 0 10px 0;
        @include transition-duration(0.3s);

        .order-head {
            padding: 7px 7px 7px 27px;
            margin: 0 0 10px 0;
            color: #999999;
            font-size: $fontSizeBase - 4;
            position: relative;

            strong {
                font-size: $fontSizeBase;
                color: $colorDark;
            }

            &:before {
                content: '';
                position: absolute;
                top: 11px;
                left: 3px;
                width: 14px;
                height: 14px;
                background: $bgs -1120px 0;
            }
        }

        .order-body {
            display: none;
        }

        .order-foot {
            background-color: #f8f8f8;
            padding: 5px 10px;
            text-align: center;

            .status {
                color: $colorSuccess;

                &.accept {
                    color: #cc9966;
                }
            }

            .name {
                margin: 0 0 2px 0;
                display: none;
            }

            .download {
                margin: 20px 0;
                display: none;

                a {
                    color: $colorBrand;

                    &:before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 17px;
                        height: 16px;
                        background: $bgs -1216px -64px;
                        margin: 0 5px 0 0;
                        position: relative;
                        top: -1px;
                    }

                    span {
                        border-bottom: 1px dashed;
                    }
                }
            }
        }

        &.open {
            border-color: #d6d6eb;
            box-shadow: 0 0 5px $colorBrand;

            .order-head:before {
                background-position: -1120px -32px;
            }

            .order-body {
                display: block;
            }

            .order-foot {
                .name,
                .download {
                    display: block;
                }
            }
        }
    }
}

.at-block-userinfo {
    border-top: 1px solid #ededed;
    padding: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .info-element {
        margin: 0 10px 30px 10px;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        background-color: #fbfbfb;
        padding: 10px;
        color: $colorSemiDark;
        line-height: 30px;
        position: relative;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        width: 320px;

        .caption {
            font-weight: bold;
            color: $colorSemiDark;
        }

        .title {
            display: inline-block;
            width: 110px;
        }

        .info {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 14px;
            height: 14px;
            background: $bgs -1216px -32px;
            margin: 0 0 0 6px;
        }

        .user-left {
            float: left;
            width: 140px;
        }

        .user-avatar {
            border: 1px solid #d2d2d2;
            border-radius: 5px;
            display: inline-block;
            width: 68px;
            height: 68px;

            img {
                display: block;
            }
        }

        .user-name {
            line-height: 17px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: $fontSizeBase - 2;

            span {
                display: block;
                text-transform: none;
                font-weight: normal;
                color: #999999;
                margin: 2px 0 0 0;
            }
        }

        .user-contacts {
            margin: 0 0 0 145px;
            line-height: 17px;

            .block-phones {
                padding: 0 0 0 31px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: 4px;
                    width: 15px;
                    height: 23px;
                    background: $bgs -1313px 0;
                }
            }

            .block-email {
                padding: 0 0 0 31px;
                position: relative;

                a {
                    color: $colorBrand;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 20px;
                    height: 16px;
                    background: $bgs -1312px -64px;
                }
            }

            .block-skype {
                padding: 0 0 0 31px;
                position: relative;

                a {
                    color: $colorBrand;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 19px;
                    height: 20px;
                    background: $bgs -1312px -32px;
                }
            }
        }
    }
}

.at-personal-info {
    padding: 10px;
    margin: 0 0 30px 0;

    .block-caption {
        line-height: 22px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 0 0 62px;
        position: relative;
        margin: 0 0 20px 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid #bebed1;
            width: 48px;
            height: 48px;
            box-shadow: 0 0 0 3px #e4e4f3;
            border-radius: 100%;
            background: $bgs -1343px 0;
        }

        span {
            display: table-cell;
            vertical-align: middle;
            height: 52px;
        }
    }
}

.at-personal-notification {
    border-top: 1px solid #ededed;
    padding: 30px 10px 10px 10px;
    margin: 0 0 30px 0;

    .block-caption {
        line-height: 22px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 0 0 62px;
        position: relative;
        margin: 0 0 20px 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid #bebed1;
            width: 48px;
            height: 48px;
            box-shadow: 0 0 0 3px #e4e4f3;
            border-radius: 100%;
            background: $bgs -1408px 0;
        }

        span {
            display: table-cell;
            vertical-align: middle;
            height: 52px;
        }
    }
}

.at-block-permissions {
    padding: 10px 0 0 0;

    .p-element {
        margin: 13px 0 0 0;
        color: $colorSemiDark;
        padding: 0 0 0 94px;
        position: relative;

        .text {
            display: table-cell;
            vertical-align: middle;
            height: 33px;
            line-height: 19px;
        }

        .check-wrap {
            position: absolute;
            top: 0;
            left: 0;

            &:nth-child(2) {
                left: 52px;
            }

            .title {
                position: absolute;
                color: #999999;
                text-transform: uppercase;
                font-size: $fontSizeBase - 4;
                top: -24px;
                left: 0;
                width: 33px;
                text-align: center;
            }
        }
    }
}

.at-personal-delivery {
    border-top: 1px solid #ededed;
    padding: 30px 10px 10px 10px;
    margin: 0 0 30px 0;

    .block-caption {
        line-height: 22px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 0 0 62px;
        position: relative;
        margin: 0 0 20px 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid #bebed1;
            width: 48px;
            height: 48px;
            box-shadow: 0 0 0 3px #e4e4f3;
            border-radius: 100%;
            background: $bgs -1472px 0;
        }

        span {
            display: table-cell;
            vertical-align: middle;
            height: 52px;
        }
    }
}

.at-block-adress-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px -30px -10px;
}

.at-block-adress {
    border: 1px solid #d2d2d2;
    padding: 25px 10px;
    position: relative;
    margin: 0 0 10px 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 320px;
    @include box-sizing($bb);
    margin: 0 10px 20px 10px;

    &.main {
        border-color: $colorBrand;
        box-shadow: 0 0 3px $colorBrand;
    }

    .remove {
        position: absolute;
        top: -1px;
        right: -1px;
        background: $bgs -768px -64px #383956;
        width: 24px;
        height: 24px;
        @include transition-duration(0.3s);

        &:active {
            background-color: $colorSemiDark;
        }
    }

    .adress {
        padding: 0 0 0 27px;
        margin: 0 0 23px 0;
        position: relative;
        line-height: 19px;
        color: $colorSemiDark;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 21px;
            background: $bgs -1344px -64px;
        }
    }

    .edit {
        padding: 0 0 0 27px;
        margin: 0 0 23px 0;
        position: relative;
        line-height: 19px;
        color: $colorSemiDark;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 14px;
            height: 15px;
            background: $bgs -1376px -64px;
        }

        a {
            color: $colorBrand;
            border-bottom: 1px dashed;
        }
    }

    .main {
        padding: 0 0 0 27px;
        position: relative;
        line-height: 19px;
        color: $colorSemiDark;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 14px;
            height: 12px;
            background: $bgs -1408px -64px;
        }

        a {
            color: $colorBrand;
            border-bottom: 1px dashed;
        }
    }
}

.at-remove-account {
    border-top: 1px solid #d2d2d2;
    padding: 10px 20px;

    .at-button {
        background-color: #999999;
    }
}