$ff: 'Rubik', sans-serif;
$fs: 14px;
$cBorder: #d6d6d6;
$cBorderRequired: #de6e4b;
$cImportant: #da5931;
$cSuccess: #009900;
$cImportantActive: #b03b16;
$cBaseActive: #ffbd3e;



// colors
$cBorderFocus: #4a3e72;
$cBase: #877ea5;
$cBaseSecondary: #62597f;

$bsh: 0 0 10px #cadae2;

$bgBase: #62597f;
$bgBaseDark: #4a3e72;




// specials for colorize
$postHeaderBg: #62597f;
$navLinkBg: #4a3e72;
$linkColor: #877ea5;
$sepLines: #62597f;
$topBtnBorder: #8b7eb7;
$sliderDots: #ffbd3e;
$btnBorder: #ffbd3e;
$btnText: #877ea5;
$btnPressed: #62597f;
$indexBanerTextTop: #4a3e72;
$indexBanerTextMain: #fff;


// sprites
$iconsPath: url("../_images/icons-1.png");
$radioSkinPath: url("../_images/radio-skin-1.png");
$checkboxSkinPath: url("../_images/checker-skin-1.png");