$ff: 'Rubik', sans-serif;
$fs: 14px;
$cBorder: #d6d6d6;
$cBorderRequired: #de6e4b;
$cImportant: #da5931;
$cSuccess: #009900;
$cImportantActive: #b03b16;
$cBaseActive: #ffbd3e;



// colors
$cBorderFocus: #409ede;
$cBase: #2f86c2;
$cBaseSecondary: #5fb5f0;

$bsh: 0 0 10px #cadae2;

$bgBase: #5fb5f0;
$bgBaseDark: #409ede;




// specials for colorize
$postHeaderBg: #5fb5f0;
$navLinkBg: #409ede;
$linkColor: #2f86c2;
$sepLines: #5fb5f0;
$topBtnBorder: #9dd7ff;
$sliderDots: #2f86c2;
$btnBorder: #2f86c2;
$btnText: #2f86c2;
$btnPressed: #3f7499;
$indexBanerTextTop: #495774;
$indexBanerTextMain: #6f737c;


// sprites
$iconsPath: url("../_images/icons.png");
$radioSkinPath: url("../_images/radio-skin.png");
$checkboxSkinPath: url("../_images/checker-skin.png");